In [6]:
import pandas as pd

In [19]:
weather = {
'date' : ['2/1/2017','2/2/2017','2/3/2017','2/4/2017','2/5/2015'],
'temp' : [32,33,34,35,36],
'windspeed' : [7,6,9,5,4],
'event' : ['Rainy','Sunny','Snow','Foggy','Ice Rain']
}

In [20]:
df = pd.DataFrame(weather)

In [21]:
df

       date  temp  windspeed     event
0  2/1/2017    32          7     Rainy
1  2/2/2017    33          6     Sunny
2  2/3/2017    34          9      Snow
3  2/4/2017    35          5     Foggy
4  2/5/2015    36          4  Ice Rain

In [22]:
df  = pd.read_csv("C:\\Users\\Karthik\\Desktop\\01_Python\\weather.csv")

In [23]:
df

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

### Data frame is a data structure to represent tabular data

Create dataframe

Dealing with rows and columns

Ops : min, max, std, describe

Conditional selection

set_index

In [25]:
df.shape # Gives rows and columns of a df

(5, 4)

In [26]:
rows,columns = df.shape

In [27]:
rows

5

In [28]:
columns

4

In [30]:
df.head(2) # Gives top 2 rows

       date  temp  windspeed  event
0  1/1/2017    32          7  Rainy
1  1/2/2017    33          6  Sunny

In [33]:
df.tail()  #usually print last 5 rows

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [35]:
df.tail(2)

       date  temp  windspeed     event
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [37]:
df[2:4] # Using indexes

       date  temp  windspeed     event
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain

In [39]:
df[:] # To print everything

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [46]:
df[-1:]

       date  temp  windspeed  event
4  1/5/2017    65          4  Foggy

In [47]:
df.columns

Index(['date', 'temp', 'windspeed', 'event'], dtype='object')

In [48]:
df.date

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
Name: date, dtype: object

In [51]:
df['date']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
Name: date, dtype: object

#### Columns of a dataframe are of type - 'pandas series'

In [52]:
type(df.event)

pandas.core.series.Series

In [55]:
df[['date','temp']] # print selective columns

       date  temp
0  1/1/2017    32
1  1/2/2017    33
2  1/3/2017    34
3  1/4/2017    45
4  1/5/2017    65

### Operations

In [56]:
df

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [59]:
df.temp.max() # max()

65

In [60]:
df.temp.mean()

41.8

In [61]:
df.temp.std()

13.989281611290838

In [63]:
df.describe() #To print stats of the data

            temp  windspeed
count   5.000000   5.000000
mean   41.800000   6.200000
std    13.989282   1.923538
min    32.000000   4.000000
25%    33.000000   5.000000
50%    34.000000   6.000000
75%    45.000000   7.000000
max    65.000000   9.000000

In [64]:
df[df.temp > 34]

       date  temp  windspeed     event
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [65]:
df[df.temp == df.temp.max()]

       date  temp  windspeed  event
4  1/5/2017    65          4  Foggy

In [67]:
df[['date','temp']][df.temp == df.temp.max()]

       date  temp
4  1/5/2017    65

### Set Index

In [68]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [70]:
df

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [71]:
df.set_index('date') # we can set any business column as index

          temp  windspeed     event
date
1/1/2017    32          7     Rainy
1/2/2017    33          6     Sunny
1/3/2017    34          9      Snow
1/4/2017    45          5  Ice Rain
1/5/2017    65          4     Foggy

In [72]:
df # But it didnt change in df and created a new DF above

       date  temp  windspeed     event
0  1/1/2017    32          7     Rainy
1  1/2/2017    33          6     Sunny
2  1/3/2017    34          9      Snow
3  1/4/2017    45          5  Ice Rain
4  1/5/2017    65          4     Foggy

In [73]:
df.set_index('date', inplace = True)

In [74]:
df # Changed in original df

          temp  windspeed     event
date
1/1/2017    32          7     Rainy
1/2/2017    33          6     Sunny
1/3/2017    34          9      Snow
1/4/2017    45          5  Ice Rain
1/5/2017    65          4     Foggy

In [75]:
df.loc['1/1/2017']

temp            32
windspeed        7
event        Rainy
Name: 1/1/2017, dtype: object

To reset to original index

In [86]:
df.reset_index(inplace = True)
df

      event  level_0  index      date  temp  windspeed
0     Rainy        0      0  1/1/2017    32          7
1     Sunny        1      1  1/2/2017    33          6
2      Snow        2      2  1/3/2017    34          9
3  Ice Rain        3      3  1/4/2017    45          5
4     Foggy        4      4  1/5/2017    65          4

In [87]:
df.set_index('event', inplace = True)
df

          level_0  index      date  temp  windspeed
event
Rainy           0      0  1/1/2017    32          7
Sunny           1      1  1/2/2017    33          6
Snow            2      2  1/3/2017    34          9
Ice Rain        3      3  1/4/2017    45          5
Foggy           4      4  1/5/2017    65          4

In [90]:
df.loc['Snow']

level_0             2
index               2
date         1/3/2017
temp               34
windspeed           9
Name: Snow, dtype: object

# Different ways to create a Dataframe